.SİFkreditləri {
  margin-top: 70px;
  width: 100%;
  & .opening {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("https://sme.pashabank.az/themes/sme/assets/images/Slider.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 150px;
    background-position: 100%;
    height: 460px;
    & .container {
      width: 80%;
      padding: 0px 20px;
      display: flex;
      justify-content: space-between;

      & .main {
        margin-top: 80px;
        & .heading {
          & h1 {
            margin: 20px 0px;
            font-size: 50px;
          }
          & p {
            color: $secondPcolor;
            display: flex;
            align-items: center;
            font-size: 19px;
            & i {
              margin: 0px 20px;
              font-size: 10px;
            }
          }
        }
      }
      & .image {
        & img {
          position: absolute;
          width: 580px;
          height: 450px;
          right: 100px;
          top: 2px;
        }
      }
    }
  }
}
