.biznesUcunHesab {
  & .newBusiness {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("https://sme.pashabank.az/themes/sme/assets/images/accounts/kob-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    & .container {
      margin-top: 80px;
      color: white;
      width: 80%;

      & h1 {
        margin-bottom: 40px;
        font-size: 45px;
      }
      & ul {
        display: flex;
        list-style: none;
        gap: 200px;
        & li {
          & h1 {
            font-size: 25px;
            margin-top: 10px;
          }
        }
      }
      & a {
        & button {
          cursor: pointer;

          padding: 18px 36px;
          font-size: 15px;
          background: $mainButtonColor;
          color: white;
          border: none;
          border-radius: 5px;
          margin-top: 40px;
        }
      }
    }
  }
}
